<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <title>All Movies</title> 

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies-base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies-layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies-components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies-sections.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies-allmovies.css') }}">  

    
</head>
<body>
<!-- HEADER SECTION -->
<header class="header">
  <div class="header-inner">
    <!-- LOGO -->
    <div class="header-logo">
      <picture>
        <source 
          media="(max-width: 768px)" 
          srcset="{{ common.site.logo }}">
        <img 
          src="{{ common.site.logo }}" 
          alt="logo">
      </picture> Sanatan App
    </div>
    <!-- LINKS -->
    <nav class="header-links">
      <div class="header-language">
        <a href="{{ request.path }}?lang={{ 'hi' if lang == 'en' else 'en' }}">
          {{ common.site.language_button.text }}
          <picture>
            <source 
              media="(max-width: 768px)" 
              srcset="{{ common.site.language_button.icon }}">
            <img 
              src="{{ common.site.language_button.icon }}" 
              alt="language icon">
          </picture>
        </a>
      </div>
      <!-- HOME -->
      <div class="header-home">
        <a href="{{ common.site.home_link }}" class="home">
            {{ movies[0].ui.home }}
        </a>
      </div>
    </nav>
  </div>
</header>




<div class="allmovies-head">
  <picture class="allmovies-bg">
    <source media="(max-width: 768px)" srcset="https://web-data.sanatanapp.in/all_movies/allmovies_low.webp">
    <img src="https://web-data.sanatanapp.in/all_movies/allmovies.webp" alt="Movies Background">
  </picture>
  <div class="allmovies-heading">
  {{ "Movies" if lang == "en" else "फ़िल्में" }}
</div>
  <div class="allmovies-subheading">
  {{
    "Movies move us like nothing else can, whether they’re scary, funny, dramatic, romantic or anywhere in-between. So many titles, so much to experience."
    if lang == "en"
    else
    "फ़िल्में हमें किसी और चीज़ की तरह प्रभावित करती हैं — चाहे वे डरावनी हों, मज़ेदार, भावुक, रोमांटिक या कुछ भी अलग। इतनी सारी कहानियाँ, इतना कुछ अनुभव करने के लिए।"
  }}
</div>
</div>



<div class="allmovies-container">
  {% for movie in movies %}
    <div class="movie-card">
      <a href="{{ url_for('movie_page', movie_id=movie._id.split('-')[0]) }}">
        <!-- Poster -->
        <img src="{{ movie.movie.poster }}" alt="{{ movie.movie.title }}">

        <!-- Content -->
        <div class="movie-info">
          <h3>{{ movie.movie.title }}</h3>
          <div class="movie-genres">
            {% for genre in movie.movie.genres %}
              <span>{{ genre }}</span>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </div>
          <div class="movie-meta">
            <span>{{ movie.movie.year }}</span><div class="dot"></div>
            <span>{{ movie.movie.duration }}</span><div class="dot"></div>
            <span>{{ movie.movie.rating }}</span><div class="dot"></div>
            <span>{{ movie.movie.language }}</span>
          </div>
          
        </div>
      </a>
    </div>
  {% endfor %}
</div>



<!-- DOWNLOAD SECTION -->
 <section class="download-section">
  <p>{{ movies[0].ui.available_now }}</p>
  <div id="download-button-android">
    <a href="{{ common.stream.google_play.link }}" target="_blank">
            <picture>
              <source 
                media="(max-width: 768px)" 
                srcset="{{ common.stream.google_play.image }}">
            
              <img 
                src="{{ common.stream.google_play.image }}" 
                alt="Google Play"  loading="lazy">
            </picture>
          </a>
  </div>
  <div id="download-button-ios">
    <a href="{{ common.stream.app_store.link }}" target="_blank">
            <picture>
              <source 
                media="(max-width: 768px)" 
                srcset="{{ common.stream.app_store.image }}">
            
              <img 
                src="{{ common.stream.app_store.image }}" 
                alt="App Store" loading="lazy">
            </picture>
          </a>
  </div>
</section>




<!-- FOOTER SECTION -->
<footer class="footer">
  <div id="page-links" class="footer-nav">
    {% for key, link in common.footer.links.items() %}
      <a href="{{ link.url }}">{{ link.text }}</a>
      {% if not loop.last %}
        <div class="divider"></div>
      {% endif %}
    {% endfor %}
  </div>
  <div id="bottom-logo-container" class="footer-logo">
    <a href="{{ common.site.home_link }}">
      <picture>
        <source media="(max-width: 768px)" 
                srcset="{{ common.site.logo }}">
        
        <img src="{{ common.site.logo }}"
             alt="{{ common.site.name }} Logo" id="bottom-logo" loading="lazy">
      </picture>
    </a>
  </div>
  <div id="follow-us-container" class="footer-social">
    <small>{{ movies[0].ui.follow_us}}</small>
    <div id="social-media-links">
      {% for key, social in common.social.items() %}
          <a href="{{ social.url }}" target="_blank">
            <picture>
          <!-- Mobile -->
          <source 
            media="(max-width: 768px)" 
            srcset="{{ social.icon }}">
          <!-- Desktop -->
          <img 
            src="{{ social.icon }}" 
            alt="{{ key }}" loading="lazy">
        </picture>
          </a>
      {% endfor %}
    </div>
  </div>
</footer>



<!-- BELOW FOOTER SECTION -->
<div class="below-footer">
  <small id="copyright-text" style="background: white;">© 2025 Sanatanapp Private Limited All Rights Reserved.</small>
  </div>


</body>
</html>